<%= form_with(model: @entity, url: user_entities_path(@user)) do |form| %>
  <% if entity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="category-div">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="category-div">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="category-div">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="category-div">
    <%= form.label :group_id, "Category" %>
    <%= form.collection_select :group_id, @groups, :id, :name, prompt: true %>
  </div>

  <div class="category-div">
    <%= form.submit "Save", class:"button" %>
  </div>

<% end %>
