<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% if @groups.any? %>
    <% @groups.each do |group| %>
      <div>
        <% if group.icon.attached? %>
          <%= image_tag group.icon %>
        <% end %>
        <%= group.name %>
        <%= group.id %>
        <%= link_to "Edit this group", edit_user_group_path(current_user, group) %>
      </div>
    <% end %>
  <% else %>
    <p>No hay grupos disponibles.</p>
  <% end %>
</div>

<%= link_to "New group", new_user_group_path(current_user) %>
