<p style="color: green"><%= notice %></p>

<%= render @group %>

<h2>Transactions for this Category</h2>

<div class="show-category">
  <ul class="ul-content">
    <% @group.entities.each do |entity| %>
      <li class="li-content">
        <%= entity.name %> - Amount: <%= entity.amount %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Back to groups", user_groups_path %>

  <%= button_to "Delete this Category", user_group_path(@group), method: :delete, data: { confirm: "Are you sure you want to delete this group?" } %>

</div>
